.page-title-txt{
	text-align: center; 
	color: #fff; 
	padding: 25px 0;
}
.page-title-txt .title-txt{
	font-size: 20px; 
	font-family: 'open_sanssemibold'; 
}
.cta-buttons,
.notification{
	display: inline-block;
	width: auto;
	padding-right: 10px;
}
.cta-buttons{
	/*padding-left: 10px;*/
}
.head-notifi-inner a i{
	color: #fff;
}
.back-button-tn i{
	font-size: 20px;
	padding-right: 10px;
	color: #fff;
}

.tn-public-view,
.tn-public-view:hover
.tn-public-view:active
.tn-public-view:focus
.tn-public-view:visited{
	color: #fff;
	text-decoration: none;
}

.gf_icon{
	max-width: 20px;
}
.fixPosition.fix-top-postion{
	top: 70px;
}



/* RESPONSIVE */
@media (max-width: 991px) and (min-width: 768px){
	.fixPosition.fix-top-postion{
		top: 58px;
	}
}
@media (min-width: 992px){
	.cta-buttons{
		padding-right: 0px;
		float: right;
	}
}
@media (max-width: 768px){
	.fixPosition.fix-top-postion{
		top: 58px;
	}
}
@media only screen and (max-width: 768px){
    .back-button{
        line-height: 2.5;
        float: none;
    }
    .page-title-txt{
    	font-size: 16px; 
 		padding: 15px 0;   	
    }
    .cta-buttons,
	.notification{
		padding-right: 10px;
	}
	.cta-buttons{
		font-size: 14px;
	}
}
@media only screen and (max-width: 1024px){
    .cta-buttons,
	.notification{
		padding-right: 0px;
	}
	.cta-buttons{
		font-size: 12px;
	}
}
/* RESPONSIVE */