<div id="talentMapView"> <!-- [ngClass]="{'home-map-inner':true, 'show': activeTab==0, 'hide': activeTab==1}" -->
	<div id="talentGoogleMap"></div>
	<div class="talent-legend">
		<div class="map-markers"><img src="assets/images/requested-marker-talentnook.png" alt="requested-marker-talentnook" />&nbsp;&nbsp;{{'new_request' | translate}}</div>
		<div class="map-markers"><img src="assets/images/ongoing-marker-talentnook.png" alt="ongoing-marker-talentnook" />&nbsp;&nbsp;{{'ongoing' | translate}}</div>
		<div class="map-markers"><img src="assets/images/inactive-marker-talentnook.png" alt="inactive-marker-talentnook" />&nbsp;&nbsp;{{'inactive' | translate}}</div>
		<div class="map-markers"><img src="assets/images/closed-marker-talentnook.png" alt="closed-marker-talentnook" />&nbsp;&nbsp;{{'close/completed' | translate}}</div>
		<div class="map-markers"><img src="assets/images/closed-marker-talentnook.png" alt="closed-marker-talentnook" />&nbsp;&nbsp;{{'waiting_to_launch' | translate}}</div>
	</div>
</div>